.draggable {
    position: absolute;
    cursor: move;
}

.box {
    padding: 8px 100px;
    box-shadow: 0 10px 40px 0 #B0C1D9;
}

.rhombus {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-rhombus {
    flex: 0 1 70.71px;
    width: 70.71px;
    height: 70.71px;
    transform: rotate(45deg);
    box-shadow: 0 10px 40px 0 #B0C1D9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-rhombus p {
    transform: rotate(-45deg);
}

a.button1 {
    cursor: pointer;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #03396c;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato';
    font-weight: 300;
    color: #03396c;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color: white;
    background-color: #03396c;
}